# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.SimpleShooter.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unreal Project\SimpleShooter\.idea\.idea.SimpleShooter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
