Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
SimpleShooter/Content/Animation
SimpleShooter/Content/AssetPacks
SimpleShooter/Content/CoverAnimsetPro
SimpleShooter/Content/FPSWeaponPackVol3
SimpleShooter/Content/Rifle_01
SimpleShooter/Content/Sound
SimpleShooter/Content/Mannequin
SimpleShooter/Content/Maps